<ion-header>
  <ion-toolbar>
    <ion-title>Change Password:</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-align: center>

  <div class="my-overlay" padding [hidden]="overlayHidden">
  <form>
  
    <ion-item>
      <ion-label>New Password:</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Confirm Password:</ion-label>
      <ion-input></ion-input>
    </ion-item>

  <ion-button expand="block">Confirm</ion-button>
</form>
</div>


</ion-content>
