<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home-gc"></ion-back-button>
          </ion-buttons>
      <ion-title>Students Details</ion-title>
      <ion-buttons slot="end">
        <ion-button #ngif routerLink="/profile-gc">
          <ion-icon slot="icon-only" name="person" color="primary"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-searchbar showCancelButton (ionInput)="filterList($event)"> </ion-searchbar>
    <ion-card *ngFor="let item of userProfile">
        <ion-card-header>
          <ion-card-title>{{item.name}}</ion-card-title>
          <ion-card-subtitle>Email: {{item.email}}</ion-card-subtitle>
          <ion-card-subtitle>School Department: {{item.school_dept}}</ion-card-subtitle>
          <ion-card-subtitle>Group Code: {{item.group_code}}</ion-card-subtitle>
          <ion-card-subtitle>Student ID: {{item.student_id}}</ion-card-subtitle>
        </ion-card-header>
    </ion-card>
  </ion-content>

