<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home-admin"></ion-back-button>
    </ion-buttons>
    <ion-title>PB Supervisor Details</ion-title>
    <ion-buttons slot="end">Log in as Admin: {{displayName}}
      <ion-button routerLink="/profile-admin">
        <ion-icon slot="icon-only" name="person" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="topleft">
    <ion-searchbar showCancelButton (ionInput)="filterList($event)"> Find PB Supervisor</ion-searchbar>
  </div>

  <div class="topright">
    <ion-button fill="solid" color="dark" routerLink="/register-pbsupervisor">
      Add
    </ion-button>
  </div>
  <br><br><br><br><br>

  <label>Filter by</label>
  <div>
    <!-- https://stackblitz.com/edit/angularfire-db-api-fbad9p -->
    <p>School Department: </p>
    <button type="radio">SICT</button>
    <button type="radio">SBS</button>
    <button type="radio">SSE</button>
    <button type="radio">SHS</button>
    <button type="radio">
      <em>clear filter</em>
    </button>
  </div>
  <br>
  <table>
    <tr class="headercolor">
      <th>Fullname</th>
      <th>Email</th>
      <th>School Department</th>
      <th>Contact no.</th>
      <th class="editdeletebtn"></th>
    </tr>
    <tr *ngFor="let item of userProfile; let i = index">
      <ng-container *ngIf="!item.isEdit; else elseBlock">
        <td>{{i+1}}. {{item.displayName}}</td>
        <td>{{item.email}}</td>
        <td>{{item.school_dept}}</td>
        <td>{{item.contact_no}}</td>
        <td class="editdeletebtn">
          <ion-button fill="outline" color="success" size="small" (click)="openPreview(item)">
            View
          </ion-button>
          <ion-button shape="round" color="secondary" size="small" (click)="EditRecord(item)">Edit
            <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
          </ion-button>
          <ion-button shape="round" color="danger" size="small" (click)="presentAlertConfirm(item.id)">
            <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </td>
      </ng-container>
      <ng-template #elseBlock>
        <td>
          <ion-input type="text" [(ngModel)]="item.EditdisplayName"></ion-input>
        </td>
        <td>
          <ion-input type="text" [(ngModel)]="item.Editemail"></ion-input>
        </td>
        <td>
          <ion-input type="text" [(ngModel)]="item.Editschool_dept"></ion-input>
        </td>
        <td>
          <ion-input type="text" [(ngModel)]="item.Editcontact_no"></ion-input>
        </td>
        <td>
          <ion-button fill="clear" color="medium" size="small" color="danger" (click)="item.isEdit = false">
            Cancel
          </ion-button>
          <ion-button fill="outline" color="success" size="small" (click)="UpdateRecord(item)">
            Update
          </ion-button>


        </td>

      </ng-template>
    </tr>
  </table>
</ion-content>