<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home-admin"></ion-back-button>
    </ion-buttons>
    <ion-title>PB Supervisor Details</ion-title>
    <ion-buttons slot="end">Log in as Admin: {{displayName}}
      <ion-button routerLink="/profile-admin">
        <ion-icon slot="icon-only" name="person" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>


      <span class="search">Find PB Supervisor: </span>
  <span class="search"><ion-searchbar showCancelButton (ionInput)="filterList($event)" placeholder="Search by Name or Email:"> </ion-searchbar></span>
  <br>
  <div>
    <div class="dropdown" style="float:left;">
      <button class="dropbtn">
        <ion-icon ios="ios-options" md="md-options"></ion-icon> Filter
      </button>

      <div class="dropdown-content" style="left:0;">

        <table class="border" style="width:100%">
          <tr class="border">
            <th colspan="2" class="border"><p>Sort By</p></th>
          </tr>
          <tr class="border"> 
            <td class="dropdown-a"><a (click)="filterByNameAscending()">Ascending Name</a></td>
            <td class="dropdown-a"><a (click)="filterByNameDescending()">Descending Name</a></td>            
          </tr>
          <tr class="border">
            <th colspan="5" class="border"><p href="#">School Dept</p></th>
          </tr>
          <tr class="border">
            <td class="dropdown-a"><a class="btn" type="radio" (click)="filterByschool_dept('SICT')">SICT</a></td>
            <td class="dropdown-a"><a class="btn" type="radio" (click)="filterByschool_dept('SBS')">SBS</a></td>
            <td class="dropdown-a"><a class="btn" type="radio" (click)="filterByschool_dept('SSE')">SSE</a></td>
            <td class="dropdown-a"><a class="btn" type="radio" (click)="filterByschool_dept('SHS')">SHS</a></td>
            <td class="dropdown-a"><a class="btn" type="radio" (click)="filterByschool_dept('All')" *ngIf="all"><em>All</em></a></td>
          </tr>
        </table>
      </div>
    </div>

  </div>

  <div class="topright">
    <ion-button class="bolder" fill="solid" color="light" routerLink="/register-pbsupervisor">
      Add
    </ion-button>
  </div>
  <br><br>

  <br>
  <!-- https://stackblitz.com/edit/angularfire-db-api-fbad9p -->

<!--   
  <label>Filter by: </label>
  <div>
   
    <p>School Department: </p>
    <button class="btn" type="radio" (click)="filterByschool_dept('SICT')">SICT</button>
    <button class="btn" type="radio" (click)="filterByschool_dept('SBS')">SBS</button>
    <button class="btn" type="radio" (click)="filterByschool_dept('SSE')">SSE</button>
    <button class="btn" type="radio" (click)="filterByschool_dept('SHS')">SHS</button>
    <button class="btn" type="radio" (click)="filterByschool_dept('All')" *ngIf="all">
      <em>All</em>
    </button>
  </div>
  <div>
    <button (click)="filterByNameAscending()">Name_ascending</button>
    <button (click)="filterByNameDescending()">Name_descending</button>
  </div> -->
  <br>
  <table>
    <tr class="headercolor">
      <th>Fullname
        <!-- <button (click)="onButtonClick()" class="dropbtn"><ion-icon name="arrow-dropdown">
        </ion-icon>
      </button>
  
      <div *ngIf="buttonClicked" id="myDropdown" class="dropdown-content">
        <a (click)="filterByNameAscending()">Ascending</a>
        <a (click)="filterByNameDescending()">Descending</a>
      </div> -->
      </th>
      <th>Email</th>
      <th>School Department</th>
      <th>Contact no.</th>
      <th class="editdeletebtn"></th>
    </tr>
    <tr *ngFor="let item of userProfile; let i = index">
      <td>{{i+1}}. {{item.displayName}}</td>
      <td>{{item.email}}</td>
      <td>{{item.school_dept}}</td>
      <td>{{item.contact_no}}</td>
      <td class="editdeletebtn">
        <ion-button fill="outline" color="success" size="small" (click)="openPreview(item)">
          More
        </ion-button>
        <!-- <ion-button shape="round" color="secondary" size="small" (click)="EditRecord(item)">Edit
            <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
          </ion-button>
          <ion-button shape="round" color="danger" size="small" (click)="presentAlertConfirm(item.id)">
            <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
          </ion-button> -->
      </td>
      <!-- <ng-template #elseBlock>
        <td>
          <ion-input type="text" [(ngModel)]="item.EditdisplayName"></ion-input>
        </td>
        <td>
          <ion-input type="text" [(ngModel)]="item.Editemail"></ion-input>
        </td>
        <td>
          <ion-input type="text" [(ngModel)]="item.Editschool_dept"></ion-input>
        </td>
        <td>
          <ion-input type="text" [(ngModel)]="item.Editcontact_no"></ion-input>
        </td>
        <td>
          <ion-button fill="clear" color="medium" size="small" color="danger" (click)="item.isEdit = false">
            Cancel
          </ion-button>
          <ion-button fill="outline" color="success" size="small" (click)="UpdateRecord(item)">
            Update
          </ion-button>


        </td>

      </ng-template> -->
    </tr>
  </table>
</ion-content>