ion-card-subtitle{
    --color: black;
}

ion-card{
    --background: white;
}

button{
  margin: 4px;
}

.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
  }

  .topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
  }

//   button{
//       margin: 4px;
//   }

td.editdeletebtn, th.editdeletebtn{
    text-align: right;
}

  table {
    font-family: arial, sans-serif;
    width: 100%;
    color: black;
    background-color: white ;
    
  }
  .headercolor{
background-color: grey;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .btn{
    margin: 4px;
    
  }

  #fontcolor{
    color: rgb(0, 0, 0);
  }

  #colorwhite{
    color: white;
  }

  .dropbtn {
    background-color: grey;
    color: white;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: grey;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    // display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    // display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}