<ion-content fullscreen padding> 
    <div class="center">
        <h1 >PB Supervisor Details</h1>
        <form [formGroup]="editprofile_form" (ngSubmit)="onSubmit(editprofile_form.value)">
          <ion-item>
            <ion-label position="stacked">Name</ion-label>
            <ion-input formControlName="displayName" type="text" placeholder="Your name" [class.invalid]="!editprofile_form.controls['displayName'].valid &&
                  editprofile_form.controls['displayName'].touched">
            </ion-input>
          </ion-item>
          <div class="error-messages">
              <ng-container *ngFor="let error of error_messages.displayName">
                <ion-item class="error-message" *ngIf="editprofile_form.get('displayName').hasError(error.type) && (editprofile_form.get('displayName').dirty || editprofile_form.get('displayName').touched)">
                  {{ error.message }}
                </ion-item>
              </ng-container>
            </div>
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input formControlName="email" type="email" placeholder="Your email address" [class.invalid]="!editprofile_form.controls['email'].valid &&
              editprofile_form.controls['email'].touched">
            </ion-input>
          </ion-item>
          <div class="error-messages">
              <ng-container *ngFor="let error of error_messages.email">
                <ion-item class="error-message" *ngIf="editprofile_form.get('email').hasError(error.type) && (editprofile_form.get('email').dirty || editprofile_form.get('email').touched)">
                  {{ error.message }}
                </ion-item>
              </ng-container>
            </div>
    
          <ion-item>
            <ion-label position="stacked">Contact No. </ion-label>
            <ion-input formControlName="contact_no" type="tel" placeholder="Contact Number" [class.invalid]="!editprofile_form.controls['contact_no'].valid &&
                    editprofile_form.controls['contact_no'].touched"> +673 &nbsp;
            </ion-input>
          </ion-item>
          <div class="error-messages">
              <ng-container *ngFor="let error of error_messages.contact_no">
                <ion-item class="error-message" *ngIf="editprofile_form.get('contact_no').hasError(error.type) && (editprofile_form.get('contact_no').dirty || editprofile_form.get('contact_no').touched)">
                  {{ error.message }}
                </ion-item>
              </ng-container>
            </div>
          <ion-item >
              <ion-label position="stacked">School Department</ion-label>
              <ion-select placeholder="Select One" interface="popover" formControlName="school_dept" >
                  <ion-select-option *ngFor="let school of schoolkeys">{{school}}</ion-select-option>
                </ion-select>
            </ion-item>
            <div class="error-messages">
                <ng-container *ngFor="let error of error_messages.school_dept">
                  <ion-item class="error-message" *ngIf="editprofile_form.get('school_dept').hasError(error.type) && (editprofile_form.get('school_dept').dirty || editprofile_form.get('school_dept').touched)">
                    {{ error.message }}
                  </ion-item>
                </ng-container>
              </div>
    
          <span class="centerbtn">

            <ion-button color="medium" size="small" color="primary" (click)="close()" [routerLink]="['/info-pbsupervisor']">
              <ion-icon name="close" slot="start"></ion-icon>Cancel
            </ion-button>

            <ion-button color="medium" size="small" type="submit" [disabled]="!editprofile_form.valid">
              <ion-icon name="create"></ion-icon>Update
            </ion-button>
  
            <ion-button color="danger" size="small" (click)="presentAlertConfirm(item)">
              Remove
              <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
            </ion-button>

          </span>
        </form>
</div>    

  <!-- <h1 class="center">More Details</h1>
  <ion-card-content *ngFor="let item of pbsupervisorlist">
    <ion-item>
      <ion-label><strong>Name: </strong>{{item.name}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong>Email: </strong>{{item.email}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong>Contact No: </strong>{{item.contact_no}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong>School Dept: </strong>{{item.school_dept}}</ion-label>
    </ion-item>

    <ion-item class="close-fake" lines="none">
      <ion-button (click)="close()" fill="clear" color="">
        <ion-icon name="close" slot="start"></ion-icon>
        Back
      </ion-button>
      <ion-button shape="round" color="danger" size="small" (click)="presentAlertConfirm(item)">
        Remove User
        <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
      </ion-button>

    </ion-item>

  </ion-card-content> -->
</ion-content>