<div id="overlay" *ngIf="change">
    <form [formGroup]="changepwForm" id="form"> 
  
        <ion-item>
            <ion-label position="stacked">Password:</ion-label>
            <ion-input
              formControlName="password"
              type="password"
              placeholder="Your password"
              [class.invalid]="!changepwForm.controls['password'].valid&& changepwForm.controls['password'].touched"
            >
            </ion-input>
          </ion-item>
          <ion-item
            class="error-message"
            *ngIf="!changepwForm.controls['password'].valid
              && changepwForm.controls['password'].touched"
          >
            <ion-label>Your password needs more than 6 characters.</ion-label>
          </ion-item>
    
        <ion-item>
          <ion-label position="stacked">Confirm Password:</ion-label>
          <ion-input type="password"
          formControlName="newpassword"
              type="password"
              placeholder="Your password"
              [class.invalid]="!changepwForm.controls['newpassword'].valid&& changepwForm.controls['newpassword'].touched"></ion-input>
        </ion-item>

        <ion-item
            class="error-message"
            *ngIf="!changepwForm.controls['newpassword'].valid
              && changepwForm.controls['newpassword'].touched"
          >
            <ion-label>Your password needs more than 6 characters.</ion-label>
          </ion-item>
    
      <ion-button expand="block" (click)="updatePassword()">Confirm</ion-button>
    </form>

</div>
<ion-header>
  <ion-toolbar>
      <ion-title>Group Coordinator Access</ion-title>
  
      <ion-buttons slot="end">
        <ion-button routerLink="/profile-gc">
          <ion-icon slot="icon-only" name="person" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>

    
  
    </ion-toolbar>
</ion-header>

<ion-content>


  <ion-searchbar showCancelButton (ionInput)="filterList($event)"> </ion-searchbar>
  <ion-card *ngFor="let item of userProfile">
   
      <ion-card-header>
        <ion-card-title>{{item.name}}</ion-card-title>
        <ion-card-subtitle>Email: {{item.email}}</ion-card-subtitle>
        <ion-card-subtitle>School Department: {{item.school_dept}}</ion-card-subtitle>
        <ion-card-subtitle>Group Code: {{item.group_code}}</ion-card-subtitle>
        <ion-card-subtitle>Student ID: {{item.student_id}}</ion-card-subtitle>
      </ion-card-header>

    </ion-card>


</ion-content>
