<ion-header>
  <ion-toolbar>
    <ion-title>Group Coordinator Access</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/profile-gc"> Log in as GC: {{name}}
        <ion-icon slot="icon-only" name="person" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>



  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-grid>
    <ion-row>
      <ion-col text-center>
        <ion-button fill="solid" color="dark" routerLink="/attendance-gcstudent">
          Student Attendances
        </ion-button>
        <ion-button fill="solid" color="dark" routerLink="/info-gcstudent">
          Student Details
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <h1>Student's Details</h1>
  <table>
    <tr  class="tarang">
      <th>No.</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone No.</th>
      <th>School Department</th>
      <th>Group Code</th>
      <th>Student ID</th>
      <th>Attendance</th>
    </tr>
    <tr  *ngFor="let item of userProfile; let i = index">
      <td>{{i+1}}.</td>
      <td>{{item.name}}   <ion-button fill="outline" color="success" size="small" 
        (click)="openPreview(item)">
       More Details
      </ion-button></td>
      <td >{{item.email}}</td>
      <td>{{item.phone_number}}</td>
      <td>{{item.school_dept}}</td>
      <td>{{item.group_code}}</td>
      <td>{{item.student_id}}</td>
      <td class="{{item.status}}">{{item.percentage}} %</td>
     
      
    </tr>
  </table>

  <!-- <ion-button (click)='getDoc()'>Calculate Attendance</ion-button> -->

</ion-content>