<ion-header>
  <ion-toolbar>
    <ion-title>Group Coordinator Access</ion-title>

    <ion-buttons slot="end">  Log in as GC: {{name}}
      <ion-button routerLink="/profile-gc">
        <ion-icon slot="icon-only" name="person" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>



  </ion-toolbar>
</ion-header>

<ion-content>

  
<br>
<br>
<br>
  <h1 align="center"> IN THIS DASHBOARD <br><br>
    You can see your student list and their attendances record</h1>
  <br>

  <br>
  <br>
  <br>
<div align="center">


  <button class="buttons" *ngFor="let item of groupcoordinator" (click)="showstudent(item)">
    Show Student
  </button>

  <!-- <button class="buttons" routerLink="/pbsupervisor-attendance">Atttendance Report</button> -->
</div>


</ion-content>