.center{
    margin: 0 auto;
    width: 80%;
    height: 80px;

}

.centerbtn{
    height: 80px;
    padding: 40px;
    border-color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
    color: black; 
    text-align: center;
}

h1{
    text-align: center;
}