ion-card-subtitle{
    --color: black;
}

ion-card{
    --background: white;
}

.bolder{
  font-weight: bold;
}

.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
  }

  .topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
  }

  button{
      margin: 4px;
  }


  
td.editdeletebtn, th.editdeletebtn{
    text-align: center;
}

  table {
    font-family: arial, sans-serif;
    width: 100%;
    color: black;
    background-color: white ;
    
  }
  .headercolor{
background-color: grey;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  #fontcolor{
    color: rgb(0, 0, 0);
  }

  #colorwhite{
    color: white;
  }

  .btn{
    margin: 4px;
    
  }

  .dropbtn {
    background-color: grey;
    color: black;
    padding: 12px;
    font-size: 12px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    font-size: 12px;
    background-color: grey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    border: 0;
    border-collapse:collapse;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  table.border , th.border, td.border
{
  border: 0;
}
table.border
{
  border-collapse:collapse;
}

  .dropdown-a a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 12px;
    display: block;
    cursor: pointer;
    
  }

  .dropdown-a a:hover {background-color: grey;}
