ion-card-subtitle{
    --color: black;
}

ion-card{
    --background: white;
}


.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
  }

  .topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
  }

  button{
      margin: 4px;
  }