<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/home-isupervisor"></ion-back-button>
      </ion-buttons>
  <ion-title>Industrial Student List</ion-title>
  <ion-buttons slot="end">
    <ion-button routerLink="/profile-isupervisor">
      <ion-icon slot="icon-only" name="person" color="primary"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar showCancelButton (ionInput)="filterList($event)"> </ion-searchbar>
  <ion-card *ngFor="let item of userProfile; let i = index">
      <ion-card-header>
        <ion-card-title>{{i+1}}. {{item.name}}</ion-card-title>
        <ion-card-subtitle>Email: {{item.email}}</ion-card-subtitle>
        <ion-card-subtitle>Department: {{item.school_dept}}</ion-card-subtitle>
        <ion-card-subtitle>Industrial Supervisor Name: {{item.isupervisor}}</ion-card-subtitle>
        <ion-card-subtitle>PB Supervisor Name: {{item.pbsupervisor}}</ion-card-subtitle>
      </ion-card-header>
   
  </ion-card>

</ion-content>
