
<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
    <div class="flb">
      <div class="Aligner-item Aligner-item--top"></div>
      <img src="assets/icon.png">
      <div class="Aligner-item Aligner-item--bottom"></div>
    </div>
  </div>



<ion-content >


<div id="center">
   <img id="logo" src="assets/icon.png">
    <p>LOGIN: </p>
    <br>
    <p>Username:</p>
    <br>
    <ion-input type="text"></ion-input>
<br>
    <p>Password:</p>
    <br>
    <ion-input type="text"></ion-input>
<br>
    <ion-button>Login</ion-button>
<br>
    <a>Forgot Password</a>
<br>
    <p>Don't have an account?</p> <a>Register</a>
  </div>

</ion-content>


