<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home-student"></ion-back-button>
    </ion-buttons>
    <ion-title>New-Task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-row no-padding>
      <ion-col size="6" offset="3">
        <ion-slides [options]="sliderOpts" #slider>
          <ion-slide>
            <div>
              <img [src]="image" alt="this is the image" tappable (click)="openPreview(img)"/>
            </div>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col size="6" offset="3">
        <ion-button fill="outline" expand="block" size="small" (click)="openImagePicker()">Upload Image</ion-button>
      </ion-col>
    </ion-row>
  </div>
  <form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    <ion-item>
      <ion-label position="floating" color="primary">Title</ion-label>
      <ion-input type="text" formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Description</ion-label>
      <ion-input type="text" formControlName="description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Date & Time</ion-label>
      <ion-datetime display-format="DDDD, DD MMMM YYYY, h:mm A" min="2019" max="2023" formControlName="pickdate">
      </ion-datetime>
    </ion-item>
    <h1 [hidden]="validations_form.valid" class="insertbtn">Please Insert Title, Description and Time & Date</h1>
    <ion-button  class="submit-btn" expand="block" type="submit"
      [disabled]="!validations_form.valid" (click)="updateNotification()">Create</ion-button>
    <ion-button color="danger" expand="block" [hidden]="!validations_form.valid" [routerLink]="['/home-student']">Cancel
    </ion-button>
    <!-- <ion-button (click)="testing()"></ion-button> -->
  </form>
</ion-content>