<ion-header>
  <ion-toolbar>
    <ion-title>Admin Dashboard</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/profile-admin">
        <ion-icon slot="icon-only" name="person"></ion-icon>
    </ion-button>
  </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  
    <ion-button expand="block" fill="solid" color="dark" routerLink="/info-admin">
      Admin Details
    </ion-button>
  
    <ion-button expand="block" fill="solid" color="dark" routerLink="/info-pbsupervisor">
      Pb Supervisor Details
    </ion-button>
  
  
    <ion-button expand="block" fill="solid" color="dark" routerLink="/info-gc">
      Group Coordinator Details
    </ion-button>
  
  
    <ion-button expand="block" fill="solid" color="dark" routerLink="/info-student">
      Student Details
    </ion-button>

</ion-content>
