<div id="overlay" *ngIf="change">
    <form [formGroup]="changepwForm" id="form"> 
  <h3>Hello {{name}}, you are login as {{role}},</h3>
  <h1>Welcom to E-Log <img src="../../../assets/images/LOGO.png" alt="logo" width="36px" height="36px"></h1>
    <p class="text">This is your first time sign in, please change your password, Thank you.</p>
    <br>
          <ion-item>
            <ion-label position="stacked">New Password:</ion-label>
            <ion-input type="password"
            formControlName="newpassword"
            [type]="password_Type"
                placeholder="Your password"
                clearOnEdit="false"
                [class.invalid]="!changepwForm.controls['newpassword'].valid&& changepwForm.controls['newpassword'].touched"></ion-input>
                <ion-icon name="eye" [color]="password_Shown === true ? 'dark' : 'medium'" slot="end" (click)='toggle_Password()'></ion-icon>
          </ion-item>
         
            <div class="error-messages">
              <ng-container *ngFor="let error of error_messages.newpassword">
                <ion-item class="error-message" *ngIf="changepwForm.get('newpassword').hasError(error.type) && (changepwForm.get('newpassword').dirty || changepwForm.get('newpassword').touched)">
                  {{ error.message }}
                </ion-item>
              </ng-container>
            </div>
          
            <br>
            <ion-item>
              <ion-label position="stacked">Confirm Password:</ion-label>
              
              <ion-input type="password"
              formControlName="confirmpw"
                  [type]="passwordType"
                  placeholder="Your password"
                  clearOnEdit="false"
                  [class.invalid]="!changepwForm.controls['confirmpw'].valid&& changepwForm.controls['confirmpw'].touched"></ion-input>
              <ion-icon name="eye" [color]="passwordShown === true ? 'dark' : 'medium'" slot="end" (click)='togglePassword()'></ion-icon>
            </ion-item>
  

               <div class="error-messages">
                <ng-container *ngFor="let error of error_messages.confirmpw">
                  <ion-item class="error-message" *ngIf="changepwForm.get('confirmpw').hasError(error.type) && (changepwForm.get('confirmpw').dirty || changepwForm.get('confirmpw').touched)">
                    {{ error.message }}
                  </ion-item>
                </ng-container>

                <ion-item class="error-message shake" *ngIf="!changepwForm.get('confirmpw').errors && changepwForm.hasError('passwordNotMatch') && (changepwForm.get('confirmpw').dirty || changepwForm.get('confirmpw').touched)">
                  New Password and Confirm Password fields should match
                </ion-item>

              </div>
    <br>
      <ion-button class="change" expand="block" (click)="updatePassword()" [disabled]="!changepwForm.valid">Confirm</ion-button>
    </form>

</div>

<ion-header>
  <ion-toolbar>
    <ion-title>Admin Dashboard</ion-title>

    <ion-buttons slot="end"> Log in as Admin: {{name}}
      <ion-button routerLink="/profile-admin">
        <ion-icon slot="icon-only" name="person" color="primary"></ion-icon>
    </ion-button>
  </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row>
          <ion-col text-center>
              <ion-button fill="solid" color="dark"  routerLink="/info-admin">
                Admin Details
              </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>
              <ion-button fill="solid" color="dark"  routerLink="/info-pbsupervisor">
                Pb Supervisor Details
              </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center>
                <ion-button fill="solid" color="dark"  routerLink="/info-isupervisor"> 
                  Industrial Supervisor Details
                </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col text-center>
                  <ion-button fill="solid" color="dark"  routerLink="/info-gc">
                    Group Coordinator Details
                  </ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col text-center>
                    <ion-button fill="solid" color="dark"  routerLink="/info-student">
                      Student Details
                    </ion-button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col text-center>
                    <ion-button fill="solid" color="dark"  routerLink="/signup">
                      Sign Up for All
                    </ion-button>
                </ion-col>
              </ion-row>

        
      </ion-grid>
  
    
<!-- <table padding>
     <tr>
       <td routerLink="/info-pbsupervisor">PB Supervisor</td>
       <td routerLink="/info-gc">Group Coordinator</td>
     </tr>

     <tr>
       <td colspan="2" routerLink="/info-student">Student</td>
     </tr>

    </table> -->
    

    
  
  
    
  
  
    

</ion-content>
