<ion-header>
  <ion-toolbar>
    <ion-title>Admin Dashboard</ion-title>

    <ion-buttons slot="end"> Log in as Admin: {{name}}
      <ion-button routerLink="/profile-admin">
        <ion-icon slot="icon-only" name="person" color="primary"></ion-icon>
    </ion-button>
  </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>

    <!-- <ion-grid>
        <ion-row>
          <ion-col text-center>
              <ion-button fill="solid" color="dark"  routerLink="/info-admin">
                Admin Details
              </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>
              <ion-button fill="solid" color="dark"  routerLink="/info-pbsupervisor">
                Pb Supervisor Details
              </ion-button>
          </ion-col>
        </ion-row> -->
        <!-- <ion-row>
            <ion-col text-center>
                <ion-button fill="solid" color="dark"  routerLink="/info-isupervisor"> 
                  Industrial Supervisor Details
                </ion-button>
            </ion-col>
          </ion-row> -->
          <!-- <ion-row>
              <ion-col text-center>
                  <ion-button fill="solid" color="dark"  routerLink="/info-gc">
                    Group Coordinator Details
                  </ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col text-center>
                    <ion-button fill="solid" color="dark"  routerLink="/info-student">
                      Student Details
                    </ion-button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col text-center>
                    <ion-button fill="solid" color="dark"  routerLink="/signup">
                      Sign Up for All
                    </ion-button>
                </ion-col>
              </ion-row>

        
      </ion-grid>
   -->
    
   <ion-grid class="center" padding>
     <ion-row>
       <ion-col class="button pb" routerLink="/info-pbsupervisor">
        <p class="text" padding>Pb Supervisor</p>
      </ion-col>
       <ion-col class="button gc" routerLink="/info-gc">
        <p class="text" padding>Group Coordinator</p></ion-col>
        <ion-col class="block" routerLink="/info-student">
          <p class="text" padding>Student</p> </ion-col>
     </ion-row>
   </ion-grid>


<!-- 
  <div class="center"padding>
    <div class="box">
  <div class="button pb" routerLink="/info-pbsupervisor"> 
        <p class="text">Pb Supervisor</p>
  </div>
  <div class="button gc" routerLink="/info-gc">
    <p class="text">Group Coordinator</p></div>
  </div>

  <div class="block" routerLink="/info-student">Student</div>
     

</div>
     -->

    
  
  
    
  
  
    

</ion-content>
