
<!-- <ion-header>
  <ion-toolbar>
    <ion-title>splash</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
    <div class="flb">
      <div class="Aligner-item Aligner-item--top"></div>
      <div class="center">
      <img src="../../../assets/images/LOGO.png" class="animation-target">
      <br>
      Loading...</div>
      <div class="Aligner-item Aligner-item--bottom"></div>
      
    </div>
   

  </div>

</ion-content>
