<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home-admin"></ion-back-button>
      </ion-buttons>
      <ion-title>PB Supervisor Student Details</ion-title>
      <ion-buttons slot="end">Log in as PB Supervisor: {{name}}
        <ion-button routerLink="/profile-pbsupervisor">
          <ion-icon slot="icon-only" name="person" color="primary"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
    <div class="search">
        <ion-searchbar showCancelButton (ionInput)="filterList($event)" placeholder="search by name and email"> Find Student </ion-searchbar>
      </div>
    <br>
    <br>
  <p id="sizess">Filter by: </p>
  <div>
    <button class="btn" type="radio" (click)="filterByresult('pass' , item)">Pass</button>
    <button class="btn" type="radio" (click)="filterByresult('almost' , item)">Almost</button>
    <button class="btn" type="radio" (click)="filterByresult('fail' , item)">Fail</button>
    <button class="btn" type="radio" (click)="filterByresult('All')" *ngIf="all">
      <em>All</em>
    </button>
  </div>
 
<br>
    <br>
<div  *ngIf="userProfile">
  <table *ngIf="userProfile.length > 0">
    <tr class="headercolor">
      <th>No. </th>
      <th>Name</th>
      <th>Email</th>
      <th>Company</th>
      <th>Contact no.</th>
      <th>Attendance</th>
      <th class="editdeletebtn"></th>
    </tr>
    <tr *ngFor="let item of userProfile; let i = index">
        <td>{{i+1}}</td>
        <td>{{item.name}}</td>
        <td>{{item.email}}</td>
        <td>{{item.company}}</td>
        <td>{{item.contact_no}}</td>
        <td class="{{item.status}}">{{item.percentage}} %</td>
        <td class="editdeletebtn">
        <ion-button fill="outline" color="success" size="small" 
          (click)="openPreview(item)">
         See More
        </ion-button>
        </td>
    </tr>
  </table>
  <br>
  <div *ngIf="userProfile.length == 0"  class="empty-list">There are no student under your supervised or there are no student pass, fail or almost fail. </div>
</div>
</ion-content>
