

<ion-app>

  <!-- <ion-router-outlet></ion-router-outlet>

</ion-app> -->
<ion-split-pane>
  <ion-menu type="overlay" side="start" contentId="Custom" class="custommenu">
    <ion-header>
        <ion-toolbar color="#05003B">
          <ion-title>E-Log</ion-title>
        </ion-toolbar>
    </ion-header>
  <ion-content>
    <ion-list  color="warning">
      <!-- <ion-item href="../home">Home</ion-item>
      <ion-item href="../uploadtask">Upload</ion-item>
      <ion-item href="../notification">Notifications</ion-item>
      <ion-item href="../setting">Settings</ion-item>
      <ion-item href="../profile">Profile</ion-item> --> 

      <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
        <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
          <ion-icon slot="start" [name]="p.icon"></ion-icon>
          <ion-label>
            {{p.title}}
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
      
    </ion-list>
   
  </ion-content>  


  </ion-menu>
  <ion-router-outlet id="Custom" main></ion-router-outlet>
</ion-split-pane>
     
 
</ion-app>
