
<ion-app>

  <ion-menu side="start" id="myMenu" contentId="Custom" class="custommenu">
    <ion-header>
        <ion-toolbar color="#05003B">
          <ion-title>E-Log</ion-title>
        </ion-toolbar>
    </ion-header>
  <ion-content>
    <ion-list  color="warning">
      <ion-item [routerLink]="['../../home-student']" icon="home">Home</ion-item>
      <ion-item [routerLink]="['../../profile-student']">Profile</ion-item>
      <ion-item [routerLink]="['../../attendance-details']">Attendance</ion-item>
      <ion-item [routerLink]="['../../setting']">Settings</ion-item>
      <ion-item button (click)="logout()">Logout</ion-item>
    
    </ion-list>
   
    <ion-toggle [(ngModel)]="status" (ionChange)="tstChange()"></ion-toggle> 
   
  </ion-content>  
  </ion-menu>
  <ion-router-outlet id="Custom" main></ion-router-outlet>
</ion-app>
