<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home-gc"></ion-back-button>
    </ion-buttons>
    <ion-title>Student Attendance</ion-title>
    <ion-buttons slot="end"> Log in as Group Coordinator: {{displayName}}
      <ion-button routerLink="/profile-gc">
        <ion-icon slot="icon-only" name="person" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <h1>Student attendance record: </h1>
    <br>

    <table>
        <tr class="headercolor">
          <th>Date</th>
          <th>Time In</th>
          <th>Time Out</th>
          <th>Time In Address & Coordinates</th>
          <th>Time Out Address & Coordinates</th>
        </tr>
    
        <tr *ngFor="let item of attendancelist; let i = index">
          <td>{{item.timeinstamp.toDate() | date: 'dd MMMM yyyy'}}</td>
          <td>{{item.timeinstamp.toDate() | date: 'h:mm a'}}</td>
          <td>{{item.timeoutstamp?.toDate() | date: 'h:mm a'}}</td>
          <td>{{item.address}}<br>(coordinates: Latitude {{item.geoLatitude}},
            Longitude {{item.geoLongitude}})</td>
          <td>{{item.timeoutaddress}}<br>(coordinates: Latitude
            {{item.timeoutLatitude}}, Longitude {{item.timeoutLongitude}})</td>
        </tr>
    
      </table>
      
  <!-- <ion-searchbar animated showCancelButton (ionInput)="filterList($event)" placeholder="Search Student Name or Email">
  </ion-searchbar> -->






  <!-- <ion-card *ngFor="let item of attendancelist; let i = index">
    <ion-grid>
      <ion-row>




        <ion-card-content>
          <h1> Date: {{item.timeinstamp.toDate() | date: 'dd MMMM yyyy'}}</h1>
          <p>Address: {{item.address}}</p>
          <p> Date: {{item.timeinstamp.toDate() | date: 'dd MMMM yyyy'}}</p>
          <p>Time-In: {{item.timeinstamp.toDate() | date: 'h:mm a'}} , (coordinates: Latitude {{item.geoLatitude}},
            Longitude {{item.geoLongitude}})</p>
          <p>Date: {{item.timeoutstamp?.toDate() | date: 'dd MMMM yyyy'}}</p>
          <p>Time-Out: {{item.timeoutstamp?.toDate() | date: 'h:mm a'}} , (coordinates: Latitude
            {{item.timeoutLatitude}}, Longitude {{item.timeoutLongitude}})</p>

        </ion-card-content>
      </ion-row>
    </ion-grid>

  </ion-card> -->
</ion-content>