ion-list-header {
    background-color: #ececec;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-left {
    text-align: left;
  }
  
  .placeholder-profile {
    color: #cccccc;
  }
  
  .dob-label {
    color: #000000;
    padding: 10px;
    max-width: 50%;
  }

    
  // .pw {
  //   width: 100px;
  //   background-color: rgb(231, 189, 189);
  //   cursor: pointer;
  // }

  

  .span{
    color: black;
  }

  .detail{
    width: 70%;
    margin: auto;
  }

  .pw{
    margin-top: 10px;
    margin-right: 12px;
    // width: 25%;
    // height: 30px;
    font-size: 14px;
  }

  // button:hover{
  //   background-color: grey;
  //   color: white;
  // }

  // button:active{
  //   background-color: rgb(163, 163, 163);
  //   color: white;
  //   font-weight: bold;
  // }

  .invalid {
    border-bottom: 1px solid #ff6153;
  }

  .error-message {
    color: red;
    background-color: white;
    // line-height: 1.6;
    font-size: 11px;
  }
  input.ng-touched.ng-invalid {
    border: 1px solid red;
  }

  .edit{
    margin-left: 12px;
    margin-bottom: 5px;
  }