.center{
    width: 500px;
    margin: 0 auto;
}


ion-item{
    background-color: grey;
}


.nyummy{
    text-align: center;
    margin: 0 auto;
    align-content: center;
    vertical-align: middle;
}