<ion-header>
    <ion-toolbar>
      <ion-button fill="clear" slot="start" routerLink="/home">
        <ion-icon name="arrow-back"></ion-icon>
       </ion-button>
       <ion-buttons slot="end">
          <ion-button [routerLink]="['/new-task']">
            <ion-icon slot="icon-only" name="add"></ion-icon>
          </ion-button>
        </ion-buttons>
  
       <ion-title>Upload Task</ion-title>
  
    </ion-toolbar>
    <!-- https://ionicframework.com/docs/api/menu  -->
  </ion-header>
  
    <ion-content padding>
    
      <!-- <div class="box">
        <div class="preview">
          <img [src]="url" alt="">
        </div>
        <div class="uploadbtn">
          <label>
            <input (change)="uploadImage($event)" type="file" class="image-upload" accept="image/*">
          </label>
        </div>
      </div> -->
  
      <!-- <div class="center">
        <div class="camera"></div>
      
        <input type="file" *ngIf="!imageURL" (change)="fileChanged($event)" class="filebtn" #fileButton />
      
        <ion-button shape="round" color="primary" (click)="uploadFile()" *ngIf="!imageURL" fill="outline">Upload File</ion-button>
       
       
        <ion-card *ngIf="imageURL" >
           <img src="https://ucarecdn.com/{{ imageURL }}/" />
           <ion-card-content>
              <ion-textarea placeholder="Enter some description" [(ngModel)]="desc"></ion-textarea>
              <ion-button shape="round" color="primary" (click)="createPost()">POST</ion-button>
        </ion-card-content>
        </ion-card>
      </div> -->
    
      <div *ngIf="items" class="list-mini-content" padding>
        <div *ngIf="items.length > 0" class="list-mini">
          <ion-list>
            <ion-item *ngFor="let item of items" [routerLink]="['/details', item.payload.doc.id]">
              <ion-thumbnail slot="start">
                <img [src]="item.payload.doc.data().image">
              </ion-thumbnail>
              <ion-label>{{item.payload.doc.data().title}}</ion-label>
              <ion-button fill="clear" slot="end">Details</ion-button>
            </ion-item>
          </ion-list>
        </div>
        <div *ngIf="items.length == 0" class="empty-list">
          Please create your first task.
        </div>
      </div>
  
      </ion-content>
      
  