<ion-header>
  <ion-toolbar>
    <ion-button class="menubutton" fill="clear" slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-button>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/new-task']">
        <ion-icon slot="icon-only" name="add" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>


  </ion-toolbar>

</ion-header>

<ion-content>

    <ion-searchbar showCancelButton (ionInput)="filterList($event)" placeholder="Search title or description"> </ion-searchbar>

<div *ngIf="itemslist" class="list-mini-content" padding>
  <div *ngIf="itemslist.length > 0" class="list-mini">
    <ion-list>
        <ion-card>
      <ion-item *ngFor="let item of itemslist" [routerLink]="['/details', item.id]">
        
        <ion-thumbnail slot="start">
            <img src={{item.image}}/>
        </ion-thumbnail>
        <ion-label>
        <h1> {{  item.title  }} </h1> 
        <p> {{  item.description  }} </p>
        <p> {{  item.pickdate | date: 'dd MMMM yyyy.  h:mm a' }}
        </p>
      </ion-label>
        <ion-button fill="clear" slot="end"> Edit </ion-button>
      
      </ion-item>
    </ion-card>
    </ion-list>
  </div>
  <div *ngIf="itemslist.length == 0" class="empty-list">
      Please create your daily task.
    </div>
</div>
<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button color="light">
    <ion-icon name="arrow-dropleft"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="start">
    <ion-fab-button color="light" (click)="logout()">
      <ion-icon ios="ios-log-out" md="md-log-out"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light" [routerLink]="['/attendance-details']">
      <ion-icon  name="pin"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light" [routerLink]="['/setting']">
      <ion-icon name="settings" ios="ios-settings" md="md-settings" ></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light" [routerLink]="['/profile-student']">
      <ion-icon  ios="ios-contact" md="md-contact"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
</ion-content>