<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/profile-student"></ion-back-button>
        </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


    <form [formGroup]="changepwForm" id="form"> 
      <p class="please">Please input your current, new and confirm password.</p>
      <ion-item>
          <ion-label position="stacked">Current Password:</ion-label>
          <ion-input type="password"
          formControlName="password"
          [type]="password_Type"
              placeholder="Your password"
              clearOnEdit="false"
              [class.invalid]="!changepwForm.controls['password'].valid&& changepwForm.controls['password'].touched"></ion-input>
        </ion-item>
       
          <div class="error-messages">
            <ng-container *ngFor="let error of error_messages.password">
              <ion-item class="error-message" *ngIf="changepwForm.get('password').hasError(error.type) && (changepwForm.get('password').dirty || changepwForm.get('password').touched)">
                {{ error.message }}
              </ion-item>
            </ng-container>
          </div>
    
              <br>
  
              <ion-item>
                  <ion-label position="stacked">New Password:</ion-label>
                  <ion-input type="password"
                  formControlName="newpassword"
                  [type]="password_Type"
                      placeholder="Your password"
                      clearOnEdit="false"
                      [class.invalid]="!changepwForm.controls['newpassword'].valid&& changepwForm.controls['newpassword'].touched"></ion-input>
                </ion-item>
               
                  <div class="error-messages">
                    <ng-container *ngFor="let error of error_messages.newpassword">
                      <ion-item class="error-message" *ngIf="changepwForm.get('newpassword').hasError(error.type) && (changepwForm.get('newpassword').dirty || changepwForm.get('newpassword').touched)">
                        {{ error.message }}
                      </ion-item>
                    </ng-container>
                  </div>
                
                  <br>
                  <ion-item>
                    <ion-label position="stacked">Confirm Password:</ion-label>
                    
                    <ion-input type="password"
                    formControlName="confirmpw"
                        [type]="password_Type"
                        placeholder="Your password"
                        clearOnEdit="false"
                        [class.invalid]="!changepwForm.controls['confirmpw'].valid&& changepwForm.controls['confirmpw'].touched"></ion-input>
      
                  </ion-item>
        
        
                     <div class="error-messages">
                      <ng-container *ngFor="let error of error_messages.confirmpw">
                        <ion-item class="error-message" *ngIf="changepwForm.get('confirmpw').hasError(error.type) && (changepwForm.get('confirmpw').dirty || changepwForm.get('confirmpw').touched)">
                          {{ error.message }}
                        </ion-item>
                      </ng-container>
        
                      <ion-item class="error-message shake" *ngIf="!changepwForm.get('confirmpw').errors && changepwForm.hasError('passwordNotMatch') && (changepwForm.get('confirmpw').dirty || changepwForm.get('confirmpw').touched)">
                        New Password and Confirm Password fields should match
                      </ion-item>
                     </div>
  <br>
                     <span float-right class="please">Show Password  <ion-checkbox  [color]="password_Shown === true ? 'danger' : 'light'" slot="end" (click)='toggle_Password()'></ion-checkbox></span>
                  <br>
                  <br>
          <ion-button expand="block" (click)="updatePassword()" [disabled]="!changepwForm.valid">Confirm</ion-button>
        </form>
  
    
  </ion-content>
