<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home-admin"></ion-back-button>
    </ion-buttons>
    <ion-title>Student Task</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/profile-admin">
        <ion-icon slot="icon-only" name="person" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar animated showCancelButton (ionInput)="filterList($event)" placeholder="Search Student Name or Email">
  </ion-searchbar>


  <ion-card *ngFor="let item of tasklist; let i = index">
    <ion-grid>
      <ion-row >
        <ion-col class="images">
          <img src={{item.image}}>

        </ion-col>
        <ion-col>


          <ion-card-content>
        
            <p>{{i+1}}. Name: {{item.name}}</p>
            <p>Email: {{item.email}}</p>
            <p>Date: {{item.pickdate | date: 'dd MMMM yyyy.  h:mm a'}}</p>
            <p>Title: {{item.title}}</p>
            <p>Description: {{item.description}}</p>
            
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>

</ion-content>