<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>

    <ion-title>Register Admin</ion-title>

    <ion-buttons slot="end">Log in as Admin: {{displayName}}
      <ion-button routerLink="/profile-admin">
        <ion-icon slot="icon-only" name="person" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="signupForm">
      <ion-item>
          <ion-label position="stacked">Full Name</ion-label>
          <ion-input
            formControlName="name"
            type="text"
            placeholder="Full Name"
            [class.invalid]="!signupForm.controls['name'].valid && signupForm.controls['name'].touched"
            
          >
          </ion-input>
        </ion-item>
        <div class="error-messages">
            <ng-container *ngFor="let error of error_messages.name">
              <ion-item class="error-message" *ngIf="signupForm.get('name').hasError(error.type) && (signupForm.get('name').dirty || signupForm.get('name').touched)">
                {{ error.message }}
              </ion-item>
            </ng-container>
          </div>

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input
        formControlName="email"
        type="email"
        placeholder="Email Address"
        [class.invalid]="!signupForm.controls['email'].valid && signupForm.controls['email'].touched"
      >
      </ion-input>
    </ion-item>
    <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.email">
          <ion-item class="error-message" *ngIf="signupForm.get('email').hasError(error.type) && (signupForm.get('email').dirty || signupForm.get('email').touched)">
            {{ error.message }}
          </ion-item>
        </ng-container>
      </div>

    <ion-item>
      <ion-label position="stacked">Contact No.</ion-label>
      <ion-input
        formControlName="contact_no"
        type="tel"
        placeholder="Contact Number"
        [class.invalid]="!signupForm.controls['contact_no'].valid && signupForm.controls['contact_no'].touched"
      >
      </ion-input>
    </ion-item>
    <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.contact_no">
          <ion-item class="error-message" *ngIf="signupForm.get('contact_no').hasError(error.type) && (signupForm.get('contact_no').dirty || signupForm.get('contact_no').touched)">
            {{ error.message }}
          </ion-item>
        </ng-container>
      </div>

    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input
        formControlName="password"
        type="password"
        placeholder="Password"
        [class.invalid]="!signupForm.controls['password'].valid && signupForm.controls['password'].touched"
      >
      </ion-input>
    </ion-item>
    <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.password">
          <ion-item class="error-message" *ngIf="signupForm.get('password').hasError(error.type) && (signupForm.get('password').dirty || signupForm.get('password').touched)">
            {{ error.message }}
          </ion-item>
        </ng-container>
      </div>

    <ion-button
      expand="block"
      (click)="signupUser(signupForm)"
      [disabled]="!signupForm.valid"
    >
      Create
    </ion-button>
  </form>


</ion-content>