<ion-header>
	<ion-toolbar>
		<ion-button class="menubutton" fill="clear" slot="start">
		  <ion-menu-button autoHide="false"></ion-menu-button> 
		  <!-- <ion-menu-button autoHide="false" style="background-color: black; "></ion-menu-button>  -->
		   </ion-button> 
  
	</ion-toolbar>
	<!-- https://ionicframework.com/docs/api/menu  -->
  </ion-header>

<ion-content padding>

	<div id="images">
	  <div class="image" *ngFor="let post of ((username | async)?.name)">
		
		<ion-content>
		  <p>{{ name }}</p>
		</ion-content>
	  </div>
	</div>
  </ion-content>
  