<ion-header>
  <ion-toolbar>
      <ion-button class="menubutton" fill="clear" slot="start" color="success">
        <ion-menu-button autoHide="false"></ion-menu-button> 
        <!-- <ion-menu-button autoHide="false" style="background-color: black; "></ion-menu-button>  -->
         </ion-button> 
      <ion-title align="middle" >Logo</ion-title>
  </ion-toolbar>
  <!-- https://ionicframework.com/docs/api/menu  -->
</ion-header>
<ion-content>
  <div class="ion-padding">
    <h1>olaaaaa</h1>
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
    testing
walaooo
  </div>
</ion-content>
