<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/course"></ion-back-button>
        </ion-buttons>
    <ion-title>Group Code</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/profile-admin">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button expand="block" fill="solid" color="dark" routerLink="/info-student">
    NWS06
  </ion-button>

  <ion-button expand="block" fill="solid" color="dark" routerLink="/">
    SNW07
  </ion-button>

  <ion-button expand="block" fill="solid" color="dark" routerLink="/">
    WBD
  </ion-button>

 
  <ion-button expand="block" fill="solid" color="dark" routerLink="/">
    DME
  </ion-button>



</ion-content>
