<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/course"></ion-back-button>
        </ion-buttons>
    <ion-title>Group Code</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/profile-admin">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ng-template #loading>Loading&hellip;</ng-template>
  <div class="center">
    <h4>Filter by group_code</h4>
    <button class="codebutton" (click)="filterBygroup_code('NWS06')">NWS06</button>
    <button class="codebutton" (click)="filterBygroup_code('NWS07')">NWS07</button>
    <button class="codebutton" (click)="filterBygroup_code('WBD')">WBD</button>
    <button class="codebutton" (click)="filterBygroup_code('DME')">DME</button>
    <button class="codebutton" (click)="filterBygroup_code(null)" *ngIf="this.group_codeFilter$.getValue()">
      <em>clear filter</em>
    </button>
  </div>

  <div *ngIf="items$ | async; let items; else loading">
    
      <ion-card *ngFor="let item of items; let i=index;">
        <ion-card-header >
        <ion-card-title>  {{i + 1}}. {{item.displayName}}</ion-card-title>
        <ion-card-subtitle>Email: {{item.email}}</ion-card-subtitle>
        <ion-card-subtitle>School Department: {{item.school_dept}}</ion-card-subtitle>
        <ion-card-subtitle>Group Code: {{item.group_code}}</ion-card-subtitle>
        <ion-card-subtitle>Student ID: {{item.student_id}}</ion-card-subtitle>
      </ion-card-header>
      </ion-card>
  
    <div *ngIf="items.length === 0" class="center"> No results found, try clearing filters</div>
  </div>




<!-- 
  <ion-button expand="block" fill="solid" color="dark" routerLink="/info-student">
    NWS06
  </ion-button>

  <ion-button expand="block" fill="solid" color="dark" routerLink="/">
    NWS07
  </ion-button>

  <ion-button expand="block" fill="solid" color="dark" routerLink="/">
    WBD
  </ion-button>

 
  <ion-button expand="block" fill="solid" color="dark" routerLink="/">
    DME
  </ion-button> -->



</ion-content>
