<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br>
    <div >
        <img class="test" src="../../assets/images/e-log.jpeg" alt="logo" width="59px" height="57px">
      </div>
            
          <form #form="ngForm" (ngSubmit)="login(form)">
            <ion-grid>
              <ion-row color="primary" justify-content-center>
                <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                  <div text-center>
                    <h3>Register</h3>
                  </div>
                  <div padding>
                    <ion-label>Full Name:</ion-label>
                    <ion-item>
                      <ion-input name="fullname" type="text" ngModel required></ion-input>
                    </ion-item>

                    <ion-label>Username:</ion-label>
                    <ion-item>
                      <ion-input name="username" type="text" ngModel required></ion-input>
                    </ion-item>

                    <ion-label>StudentID:</ion-label>
                    <ion-item>
                      <ion-input name="studentid" type="text" ngModel required></ion-input>
                    </ion-item>

                    <ion-list radio-group>
                       <ion-list-header>
                         Select School:
                       </ion-list-header> 
                       <ion-item>
                         <ion-label>SICT</ion-label>
                         <ion-radio value="sict" checked="true"></ion-radio>
                       </ion-item>

                       <ion-item>
                          <ion-label>SBS</ion-label>
                          <ion-radio value="sbs" ></ion-radio>
                        </ion-item>

                        <ion-item>
                            <ion-label>SSE</ion-label>
                            <ion-radio value="sse" ></ion-radio>
                          </ion-item>

                          <ion-item>
                              <ion-label>IHS</ion-label>
                              <ion-radio value="ihs"></ion-radio>
                            </ion-item>
                    </ion-list>

                    <ion-label>Course:</ion-label>
                    <ion-item>
                      <ion-input name="course" type="text" ngModel required></ion-input>
                    </ion-item>

                    <ion-label>Email:</ion-label>
                    <ion-item>
                      <ion-input name="email" type="text" ngModel required></ion-input>
                    </ion-item>

                    <ion-label>Password:</ion-label>
                    <ion-item>
                      <ion-input name="password" type="password" ngModel required></ion-input>
                    </ion-item>

                    <ion-label>Confirm Password:</ion-label>
                    <ion-item>
                      <ion-input name="password" type="password" ngModel required></ion-input>
                    </ion-item>
                  </div>
                  <div padding>
                    <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Submit</ion-button>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>

          <!-- <ion-button class="test" id="damiti" color="danger" href="#">Submit</ion-button> -->

</ion-content>
