<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br>
    <div >
        <img class="test" src="../../assets/images/e-log.jpeg" alt="logo" width="59px" height="57px">
      </div>
    
        <div id="container" id="paddtop">
          <ion-list>
            
              <ion-item>
                  <ion-label fixed><b>Fullname:</b></ion-label>
                  <ion-input type="text" value=""></ion-input>
                </ion-item>

            <ion-item>
              <ion-label fixed><b>Username:</b></ion-label>
              <ion-input type="text" value=""></ion-input>
            </ion-item>

            <ion-item>
                <ion-label fixed><b>StudentID:</b></ion-label>
                <ion-input type="text" value=""></ion-input>
              </ion-item>

              <ion-item>
                  <ion-label fixed><b>Course:</b></ion-label>
                  <ion-input type="text" value=""></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label fixed><b>Email:</b></ion-label>
                    <ion-input type="text" value=""></ion-input>
                  </ion-item>
      
            <ion-item>
              <ion-label fixed><b>Password:</b></ion-label>
              <ion-input type="Password" value=""></ion-input>
            </ion-item>    
            
            <ion-item>
              <ion-label fixed><b>Confirm Password:</b></ion-label>
              <ion-input type="Password" value=""></ion-input>
            </ion-item>    
      
          </ion-list>
          <ion-button class="test" id="damiti" color="danger" href="#">Submit</ion-button>
        </div>
</ion-content>
