<ion-header>
    <ion-toolbar>
        <ion-button class="menubutton" fill="clear" slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button> 
             </ion-button>
      <ion-title>Profile Page</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="logOut()">
          <ion-icon slot="icon-only" name="log-out" color="danger"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
    <ion-list>
      <ion-list-header> Personal Information </ion-list-header>
      <ion-item>
        <ion-label>
          <ion-grid>
            <ion-row>
              <ion-col class="text-left" size="5"> Name: </ion-col>
              <ion-col
                class="text-center"
                size="7"
                *ngIf="userProfile?.displayName"
              >
                {{userProfile?.displayName}}
              </ion-col>
              <!-- <ion-col
                size="7"
                class="placeholder-profile text-center"
                *ngIf="!userProfile?.displayName"
              >
                <span> Tap here to edit. </span>
              </ion-col> -->
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>
  
      <ion-item>
          <ion-label>
            <ion-grid>
              <ion-row>
                <ion-col class="text-left" size="5"> School Department: </ion-col>
                <ion-col
                  class="text-center"
                  size="7"
                  *ngIf="userProfile?.school_dept"
                >
                  {{userProfile?.school_dept}}
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
        </ion-item>

        <ion-item>
            <ion-label>
              <ion-grid>
                <ion-row>
                  <ion-col class="text-left" size="5"> Group Code: </ion-col>
                  <ion-col
                    class="text-center"
                    size="7"
                    *ngIf="userProfile?.group_code"
                  >
                    {{userProfile?.group_code}}
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-label>
          </ion-item>

          <ion-item>
              <ion-label>
                <ion-grid>
                  <ion-row>
                    <ion-col class="text-left" size="5"> Student ID: </ion-col>
                    <ion-col
                      class="text-center"
                      size="7"
                      *ngIf="userProfile?.student_id"
                    >
                      {{userProfile?.student_id}}
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-label>
            </ion-item>
      
            <ion-item>
                <ion-label>
                  <ion-grid>
                    <ion-row>
                      <ion-col class="text-left" size="5"> PB Supervisor: </ion-col>
                      <ion-col
                        class="text-center"
                        size="7"
                        *ngIf="userProfile?.pbsupervisor"
                      >
                        {{userProfile?.pbsupervisor}}
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-label>
              </ion-item>

              <ion-item>
                  <ion-label>
                    <ion-grid>
                      <ion-row>
                        <ion-col class="text-left" size="5"> Intern Place: </ion-col>
                        <ion-col
                          class="text-center"
                          size="7"
                          *ngIf="userProfile?.company"
                        >
                          {{userProfile?.company}}
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-label>
                </ion-item>

      <ion-item>
        <ion-label>
          <ion-grid>
            <ion-row>
              <ion-col class="text-left" size="5"> Email: </ion-col>
              <ion-col class="text-center" size="7" *ngIf="userProfile?.email">
                {{userProfile?.email}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>

      <ion-item *ngIf="!contact">
          <ion-label>
            <ion-grid>
              <ion-row>
                <ion-col class="text-left" size="5"> Contact No: </ion-col>
                <ion-col class="text-center" size="7" *ngIf="userProfile?.contact_no">
                  +673 {{userProfile?.contact_no}}
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
        </ion-item>

        <ion-item *ngIf="contact">
            <ion-label>
              <ion-grid>
                <ion-row>
                  <ion-col class="text-left" size="5"> Contact No: </ion-col>
                  <ion-col class="text-center" size="7" *ngIf="userProfile?.contact_no">
                      
                    <form [formGroup]="signupForm">
                        
                      <ion-item>
                          <ion-input
                            formControlName="contact_no"
                            type="number"
                            placeholder="Contact Number"
                            [class.invalid]="!signupForm.controls['contact_no'].valid && signupForm.controls['contact_no'].touched"
                           [(ngModel)]="no"
                          >
                          +673 &nbsp;
                          </ion-input>
                        </ion-item>
                        <div class="error-messages">
                            <ng-container *ngFor="let error of error_messages.contact_no">
                              <ion-item class="error-message" *ngIf="signupForm.get('contact_no').hasError(error.type) && (signupForm.get('contact_no').dirty || signupForm.get('contact_no').touched)">
                                {{ error.message }}
                              </ion-item>
                            </ng-container>
                          </div>
                        </form>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-label>

         
          </ion-item>
      <br>
      <ion-button class="change" expand="block" (click)="update()" [disabled]="!signupForm.valid" *ngIf="contact">Update</ion-button>
      <ion-button class="change" expand="block"*ngIf="contact" (click)="contactss()">Cancel</ion-button>
      <br>
      <ion-button *ngIf="!contact" expand="block" (click)="contacts()">edit</ion-button>
      <br>
      <ion-button class="pw" *ngIf="!contact" expand="block" routerLink="/changepw-student">Change Password</ion-button>
    </ion-list>


  
  </ion-content>